<div class="container-fluid px-0">
    <app-cabecera></app-cabecera>
    <div class="p-5 row">
        <div class="p-3 col-12 col-lg-4">
            <form (ngSubmit)="nuevaTarea(tareaForm.value)" [formGroup]="tareaForm" method="POST">
                <div class="form-group">
                    <label for="#nombre">Nombre de la tarea: </label>
                    <input type="text" id="nombre" class="form-control" formControlName="nombre">
                </div>
                <div class="form-group">
                    <label for="#archivo">Archivo: </label>
                    <div class="custom-file">
                        <input type="file" id="archivo" class="custom-file-input" (change)="getEventoArchivo($event)">
                        <label class="custom-file-label" for="#archivo">{{ nombreArchivo }}</label>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Agregar tarea">
                </div>
            </form>
        </div>
        <div class="p-3 col-12 col-lg-8">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Archivo</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let tarea of listaTareas">
                        <td class="py-3 align-self-center">{{ tarea.nombre }}</td>
                        <td class="py-3"><a href="{{ tarea.archivo.url }}">{{ tarea.archivo.nombre }}</a></td>
                        <td class="py-2 text-center"><button class="btn btn-danger col-6"><i class="fa">&#xf014;</i></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<app-pie></app-pie>